<div class="jumbotron">
    <div class="row">
        <div class="col-lg-2 col-sm-12 my-lg-auto mb-sm-2 text-center">
            <a class="ad-img-link" href="https://irris.club" target="_blank"><img height="150" width="150" src="/images/community.png"></a>
        </div>
        <div class="col-lg-10 col-sm-12">
            <h1><%- __("Ads_Community_Header") %></h1>
            <p class="lead"><%- __("Ads_Community_Leading") %></p>
            <p><i class="far fa-wrench"></i><%= __("Ads_Community_Row1") %></p>
            <p><i class="far fa-user-graduate"></i><%= __("Ads_Community_Row2") %></p>
            <p><i class="far fa-info-circle"></i><%= __("Ads_Community_Row3") %></p>
            <p><i class="far fa-sack-dollar"></i><%= __("Ads_Community_Row4") %></p>
            <p><i class="far fa-thumbs-up"></i><%= __("Ads_Community_Row5") %></p>
        </div>
    </div>
</div>