<hr>
<div class="row mb-3">
    <div class="col-lg-12 text-center"><span class="h3"><%= __("LessonsIntroDiv") %></span></div>
</div>
<div class="row justify-content-center p-2">
    <div class="col-auto mb-4">
        <a data-toggle="modal"
           data-target="#videoModal"
           data-video_link="https://www.youtube.com/embed/sh8Yrj1QanM"
           data-modal_title="<%= __("Lesson_1_Title") %>"
           class="lesson-link">
            <div class="card d-flex bg-success text-white card-tutor">
                <div class="card-header"><b><%= __("Lesson_1") %></b></div>
                <div class="card-body bg-light text-dark">
                    <h5 class="card-title"><%= __("Lesson_1_Title") %></h5>
                    <p class="card-text"><%= __("Lesson_1_About") %></p>
                </div>
            </div>
        </a>
    </div>
    <div class="col-auto mb-4">
        <a data-toggle="modal"
           data-target="#videoModal"
           data-video_link="https://www.youtube.com/embed/SAbhb4MhNgQ"
           data-modal_title="<%= __("Lesson_2_Title") %>"
           class="lesson-link">
            <div class="card d-flex bg-success text-white card-tutor">
                <div class="card-header"><b><%= __("Lesson_2") %></b></div>
                <div class="card-body bg-light text-dark">
                    <h5 class="card-title"><%= __("Lesson_2_Title") %></h5>
                    <p class="card-text"><%= __("Lesson_2_About") %></p>
                </div>
            </div>
        </a>
    </div>
    <div class="col-auto mb-4">
        <a data-toggle="modal"
           data-target="#videoModal"
           data-video_link="https://www.youtube.com/embed/IEUtovADA5c"
           data-modal_title="<%= __("Lesson_3_Title") %>"
           class="lesson-link">
            <div class="card d-flex bg-success text-white card-tutor">
                <div class="card-header"><b><%= __("Lesson_3") %></b></div>
                <div class="card-body bg-light text-dark">
                    <h5 class="card-title"><%= __("Lesson_3_Title") %></h5>
                    <p class="card-text"><%= __("Lesson_3_About") %></p>
                </div>
            </div>
        </a>
    </div>
</div>
<hr>
<div class="row mb-3">
    <div class="col-lg-12 text-center"><span class="h3"><%= __("LessonsProjectDiv") %></span></div>
</div>
<div class="row justify-content-center p-2">
    <div class="col-auto mb-4">
        <a data-toggle="modal"
           data-target="#videoModal"
           data-video_link="https://www.youtube.com/embed/WzyLBAd6ZLE"
           data-modal_title="<%= __("Lesson_4_Title") %>"
           class="lesson-link">
            <div class="card d-flex bg-primary text-white card-tutor">
                <div class="card-header"><b><%= __("Lesson_4") %></b></div>
                <div class="card-body bg-light text-dark">
                    <h5 class="card-title"><%= __("Lesson_4_Title") %></h5>
                    <p class="card-text"><%= __("Lesson_4_About") %></p>
                </div>
            </div>
        </a>
    </div>
    <div class="col-auto mb-4">
        <a data-toggle="modal"
           data-target="#videoModal"
           data-video_link="https://www.youtube.com/embed/tWvRYB3vupM"
           data-modal_title="<%= __("Lesson_5_Title") %>"
           class="lesson-link">
            <div class="card d-flex bg-primary text-white card-tutor">
                <div class="card-header"><b><%= __("Lesson_5") %></b></div>
                <div class="card-body bg-light text-dark">
                    <h5 class="card-title"><%= __("Lesson_5_Title") %></h5>
                    <p class="card-text"><%= __("Lesson_5_About") %></p>
                </div>
            </div>
        </a>
    </div>
    <div class="col-auto mb-4">
        <a data-toggle="modal"
           data-target="#videoModal"
           data-video_link="https://www.youtube.com/embed/D6qFe9QqT4s"
           data-modal_title="<%= __("Lesson_6_Title") %>"
           class="lesson-link">
            <div class="card d-flex bg-primary text-white card-tutor">
                <div class="card-header"><b><%= __("Lesson_6") %></b></div>
                <div class="card-body bg-light text-dark">
                    <h5 class="card-title"><%= __("Lesson_6_Title") %></h5>
                    <p class="card-text"><%= __("Lesson_6_About") %></p>
                </div>
            </div>
        </a>
    </div>
    <div class="col-auto mb-4">
        <a data-toggle="modal"
           data-target="#videoModal"
           data-video_link="https://www.youtube.com/embed/sBWMl5VctLM"
           data-modal_title="<%= __("Lesson_7_Title") %>"
           class="lesson-link">
            <div class="card d-flex bg-primary text-white card-tutor">
                <div class="card-header"><b><%= __("Lesson_7") %></b></div>
                <div class="card-body bg-light text-dark">
                    <h5 class="card-title"><%= __("Lesson_7_Title") %></h5>
                    <p class="card-text"><%= __("Lesson_7_About") %></p>
                </div>
            </div>
        </a>
    </div>
</div>
<hr>
<div class="row mb-3">
    <div class="col-lg-12 text-center"><span class="h3"><%= __("LessonsOutputDiv") %></span></div>
</div>
<div class="row justify-content-center p-2">
    <div class="col-auto mb-4">
        <a data-toggle="modal"
           data-target="#videoModal"
           data-video_link="https://www.youtube.com/embed/Cdk7b6458GQ"
           data-modal_title="<%= __("Lesson_8_Title") %>"
           class="lesson-link">
            <div class="card text-white bg-danger card-tutor">
                <div class="card-header"><b><%= __("Lesson_8") %></b></div>
                <div class="card-body bg-light text-dark">
                    <h5 class="card-title"><%= __("Lesson_8_Title") %></h5>
                    <p class="card-text"><%= __("Lesson_8_About") %></p>
                </div>
            </div>
        </a>
    </div>
    <div class="col-auto mb-4">
        <a data-toggle="modal"
           data-target="#videoModal"
           data-video_link="https://www.youtube.com/embed/Oq_WdNSed4g"
           data-modal_title="<%= __("Lesson_9_Title") %>"
           class="lesson-link">
            <div class="card text-white bg-danger card-tutor">
                <div class="card-header"><b><%= __("Lesson_9") %></b></div>
                <div class="card-body bg-light text-dark">
                    <h5 class="card-title"><%= __("Lesson_9_Title") %></h5>
                    <p class="card-text"><%= __("Lesson_9_About") %></p>
                </div>
            </div>
        </a>
    </div>
</div>
<hr>
<div class="row mb-3">
    <div class="col-lg-12 text-center"><span class="h3"><%= __("LessonsIrriseller") %></span></div>
</div>
<div class="row justify-content-center p-2">
    <div class="col-auto mb-4">
        <a data-toggle="modal"
           data-target="#videoModal"
           data-video_link="https://www.youtube.com/embed/7fY1fKwSWj8"
           data-modal_title="<%= __("Lesson_1_Seller_Title") %>"
           class="lesson-link">
            <div class="card text-white bg-warning card-tutor">
                <div class="card-header"><b><%= __("Lesson_1_Seller") %></b></div>
                <div class="card-body bg-light text-dark">
                    <h5 class="card-title"><%= __("Lesson_1_Seller_Title") %></h5>
                    <p class="card-text"><%= __("Lesson_1_Seller_About") %></p>
                </div>
            </div>
        </a>
    </div>
    <div class="col-auto mb-4">
        <a data-toggle="modal"
           data-target="#videoModal"
           data-video_link="https://www.youtube.com/embed/JS0MouCYXzc"
           data-modal_title="<%= __("Lesson_2_Seller_Title") %>"
           class="lesson-link">
            <div class="card text-white bg-warning card-tutor">
                <div class="card-header"><b><%= __("Lesson_2_Seller") %></b></div>
                <div class="card-body bg-light text-dark">
                    <h5 class="card-title"><%= __("Lesson_2_Seller_Title") %></h5>
                    <p class="card-text"><%= __("Lesson_2_Seller_About") %></p>
                </div>
            </div>
        </a>
    </div>
    <div class="col-auto mb-4">
        <a data-toggle="modal"
           data-target="#videoModal"
           data-video_link="https://www.youtube.com/embed/h38UBIW5zw8"
           data-modal_title="<%= __("Lesson_3_Seller_Title") %>"
           class="lesson-link">
            <div class="card text-white bg-warning card-tutor">
                <div class="card-header"><b><%= __("Lesson_3_Seller") %></b></div>
                <div class="card-body bg-light text-dark">
                    <h5 class="card-title"><%= __("Lesson_3_Seller_Title") %></h5>
                    <p class="card-text"><%= __("Lesson_3_Seller_About") %></p>
                </div>
            </div>
        </a>
    </div>
</div>
<hr>
<div class="row mb-3">
    <div class="col-lg-12 text-center"><span class="h3"><%= __("TipsAndTricks") %></span></div>
</div>
<div class="row justify-content-center p-2">
    <div class="col-auto mb-4">
        <a data-toggle="modal"
           data-target="#videoModal"
           data-video_link="https://www.youtube.com/embed/GHRCDHPyFA8"
           data-modal_title="<%= __("Lesson_1_TipsTricks_Title") %>"
           class="lesson-link">
            <div class="card text-secondary bg-light card-tutor">
                <div class="card-header"><b><%= __("Lesson_1_TipsTricks") %></b></div>
                <div class="card-body bg-light text-dark">
                    <h5 class="card-title"><%= __("Lesson_1_TipsTricks_Title") %></h5>
                </div>
            </div>
        </a>
    </div>
    <div class="col-auto mb-4">
        <a data-toggle="modal"
           data-target="#videoModal"
           data-video_link="https://www.youtube.com/embed/MLe1p95BEOI"
           data-modal_title="<%= __("Lesson_2_TipsTricks_Title") %>"
           class="lesson-link">
            <div class="card text-white bg-success card-tutor">
                <div class="card-header"><b><%= __("Lesson_2_TipsTricks") %></b></div>
                <div class="card-body bg-light text-dark">
                    <h5 class="card-title"><%= __("Lesson_2_TipsTricks_Title") %></h5>
                </div>
            </div>
        </a>
    </div>
    <div class="col-auto mb-4">
        <a data-toggle="modal"
           data-target="#videoModal"
           data-video_link="https://www.youtube.com/embed/G9YLeiov7d8"
           data-modal_title="<%= __("Lesson_3_TipsTricks_Title") %>"
           class="lesson-link">
            <div class="card text-white bg-warning card-tutor">
                <div class="card-header"><b><%= __("Lesson_3_TipsTricks") %></b></div>
                <div class="card-body bg-light text-dark">
                    <h5 class="card-title"><%= __("Lesson_3_TipsTricks_Title") %></h5>
                </div>
            </div>
        </a>
    </div>
    <div class="col-auto mb-4">
        <a data-toggle="modal"
           data-target="#videoModal"
           data-video_link="https://www.youtube.com/embed/SagtobJTtg0"
           data-modal_title="<%= __("Lesson_4_TipsTricks_Title") %>"
           class="lesson-link">
            <div class="card text-white bg-danger card-tutor">
                <div class="card-header"><b><%= __("Lesson_4_TipsTricks") %></b></div>
                <div class="card-body bg-light text-dark">
                    <h5 class="card-title"><%= __("Lesson_4_TipsTricks_Title") %></h5>
                </div>
            </div>
        </a>
    </div>
</div>
<div id="videoModal" class="modal fade" tabindex="-1" aria-hidden="true">
    <div class="modal-dialog modal-dialog-centered modal-xl">
        <div class="modal-content">
            <div class="modal-header">
                <h5 id="modalVideoHeader" class="modal-title"></h5>
                <button type="button" class="close" data-dismiss="modal" aria-label="Close">
                    <span aria-hidden="true">&times;</span>
                </button>
            </div>
            <div class="modal-body">
                <div class="embed-responsive embed-responsive-16by9">
                    <iframe id="videoFrame" class="embed-responsive-item" frameborder="0"
                            allow="accelerometer; autoplay; encrypted-media; gyroscope; picture-in-picture"
                            allowfullscreen></iframe>
                </div>

            </div>
        </div>
    </div>
</div>

