<% layout(templatePath) -%>
<% block('title', __("Mail_userEvents_Welcome_To_Irrisketch")) -%>
<% block('closing', __('Mail_Common_TeamContacts')) -%>
<%- partial(helloPath) %>
<p style="font-family: sans-serif; font-size: 14px; font-weight: normal; margin: 0; margin-bottom: 15px;">
    <%= __("Mail_userEvents_You_Have_Sucessfully_Registered_New_Account_At") %> <a
            href="<%= urlBase %>"><%= urlBase %></a>
</p>
<%- partial(paragraphPath, {
    content: __("Main_GetStartedRegistered")
}) %>
<%- partial(buttonPath, {
    btn_link: urlBase + '/workshop',
    background_color: "#28a745",
    btn_title: __("LinkToWorkshop")
}) %>
<%- partial(paragraphPath, {
    content: __("Main_GetStartedLearinig")
}) %>
<%- partial(buttonPath, {
    btn_link: urlBase + '/workshop',
    background_color: "#28a745",
    btn_title: __("LinkToLessons")
}) %>
<p style="font-family: sans-serif; font-size: 14px; font-weight: normal; margin: 0; margin-bottom: 15px;">
    <a href="<%= urlBase %>/support"><%= __("Mail_userEvents_If_You_Have_Any_Questions_About_Online_Service_Click_Here") %></a>
</p>
<%- partial(paragraphPath, {
    content: __("Mail_userEvents_Have_A_Nice_Day")
}) %>